<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-4">

      <h2 class="title is-2">Account Support</h2>

      <h3 class="title is-5">Need some extra help?</h3>
        <p>Contact our support team at <%= link_to "customersupport@findajob.com", "http://hotmail.com", target: :_blank %>  for assistance regarding our website or any customer experience issues.</p>
 
      </div>
    </div>
  </div>
</section>