!DOCTYPE html>
<html>
  <head>
    <title>FindAJob.com</title>
    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
  </head>
  <h3>Account Support</h3>
  <a href="https://www.w3schools.com">Visit W3Schools</a>
  </body>
</html>